.row-header {
    margin: 0 px auto;
    padding: 0px auto;
}

.row-sm-header{
    margin: 0px auto;
    padding: 50px 50px 50px 0px;
    border-bottom: 1px ridge;
}
.row-content{
    margin: 0px auto;
    padding: 50px 50px 50px 0px;
    min-height: 300px;   
}

.long-content{
    padding: 50px 50px 50px 0px;
    margin: 0px auto;

}

.footer{
    background-color: mintcream;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron{
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: lightseagreen;
    color: floralwhite
}

.address{
    font-size: 80%;
    margin: 0px;
    color: black
}

body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar-dark {
     background-color: #512DA8;
}